<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="owwwlab.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        
        <!--CSS styles-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">  
        <link rel="stylesheet" href="css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link id="theme-style" rel="stylesheet" href="css/styles/yellow.css">

        
        <!--/CSS styles-->
        <!--Javascript files-->
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="js/masonry.min.js"></script>

        <script type="text/javascript" src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
        <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

        <script type="text/javascript" src="js/magnific-popup.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <!--/Javascript files-->

    </head>
    <body>
        <div class="container">
                  <div style="text-align:center">
                    <h2 id="contact">Booking</h2>
                  </div>
                  <div class="row">
                    <!--div class="column">
                      <img src="img/footer.jpg" style="width:100%">
                    <!--/div-->
                    <div class="row">
                      <form method=”POST” enctype=”multipart/form-data” name=”BookingForm” onclick="window.location.href=‘index.html‘">
                        <label for="fname">Cruise id</label>
                        <input type="text" id="fname" name="cruise id" placeholder="type in cruise id">
                        <label for="lname">Ship id</label>
                        <input type="text" id="lname" name="ship id" placeholder="type in ship id">
                        <input type="submit" value="Submit" onClick="bt_submit_onclick()">
                      </form>
                      <div style="text-align:center">
                          <p>   </p>
                          <a href="CustomerSelection" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back</a>
                      </div>
                      <script type="text/javascript">
2                          $(function($) {
3                           // 登錄點擊
4                          $("#loging").click(function() {
5                            //window.location.href = "https://www.xiami.com/collect/358371983";(跳轉至外部鏈接)
6                             window.location.href =‘index1.html‘;  
7                                });
8                             });
9                      </script>
                    </div>
                  </div>
                </div>
          </div>
    </div>
    <!-- Default code for Personal website -->
    <!-- End of Code -->
    </body>
</html>

