<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="owwwlab.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        

        <!--CSS styles-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">  
        <link rel="stylesheet" href="css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link id="theme-style" rel="stylesheet" href="css/styles/yellow.css">

        
        <!--/CSS styles-->
        <!--Javascript files-->
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="js/masonry.min.js"></script>

        <script type="text/javascript" src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
        <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

        <script type="text/javascript" src="js/magnific-popup.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <!--/Javascript files-->

    </head>
    <body>
        <div class="container">
                  <div style="text-align:center">
                    <h2 id="contact">Add Cruise Information</h2>
                  </div>
                    <div class="row">
                      <form id="cruise_form" enctype=”multipart/form-data” name="BookingForm">
                        <label for="1_name">cost</label>
                        <input type="text" id="1_name" name="cost" placeholder="type in cost">
                        <label for="2_name">number of stops</label>
                        <input type="text" id="2_name" name="num_stop" placeholder="type in number of stops">
                        <label for="3_name">arrival port</label>
                        <input type="text" id="3_name" name="arrival_port" placeholder="type in arrival port">
                        <label for="4_name">departure port</label>
                        <input type="text" id="4_name" name="departure_port" placeholder="type in departure port">
                        <label for="5_name">ship id</label>
                        <input type="text" id="5_name" name="ship_id" placeholder="type in ship id">
                        <label for="6_name">captain id</label>
                        <input type="text" id="6_name" name="captain_id" placeholder="type in captain id">
                        <label for="7_name">departure time</label>
                        <input type="text" id="7_name" name="departure_time" placeholder="type in departure time of cruise in the schedule">
                        <input type="submit" value="Submit">
                      </form>
			<script language="javascript" type="text/javascript">
                          function validatedate(inputs)
                          {
                             // First check for the pattern
                             if(!/\d{4}\-\d{2}\-\d{2}\s+\d{2}:\d{2}/.test(inputs))
                             {    
                               alert("check the date format");
                               return false;
                             }

                             // Parse the date parts to integers
                             var parts = inputs.split(/\s+/);
                             var part1=parts[0].split("-");
                             var part2=parts[1].split(":");
                             var year = parseInt(part1[0], 10);
                             var month = parseInt(part1[1], 10);
                             var day = parseInt(part1[2], 10);
                             var hour = parseInt(part2[0], 10);
                             var min = parseInt(part2[1], 10);
                            
                          if(hour<0||hour>24||min<0||min>59)
                          { alert("check hour min format"); 
                            return false; };

                          // Check the ranges of month and year
                          if(year < 1000 || year > 3000 || month == 0 || month > 12)
                          { alert("check year month format, year is in [1000,3000]"); 
                            return false; };

                          var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

                          // Adjust for leap years
                          if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
                              monthLength[1] = 29;

                          // Check the range of the day
                          if(!(day > 0 && day <= monthLength[month - 1]))
                          { alert("check day format, there probably no extra day in that year"); 
                            return false; };
                           return true;
                        };
			  function validate1()
			  {
			     if (isNaN($("#1_name").val()) || parseInt($("#1_name").val()) < 0 )
			     {
				   alert("value of cost," + $("#1_name").val() + " is invalid");

				  // Change the value back to the previous valid answer
				    return false;
			     }
			     
                  
                 if (isNaN($("#2_name").val())||parseInt($("#2_name").val()) < 0 || (parseInt($("#2_name").val())-$("#2_name").val()!=0 ))
			     {
				   alert("value of number of stops," + $("#2_name").val() + " is invalid ");
				   // Change the value back to the previous valid answer
				   return false;
			     } 
                  
			     if (isNaN($("#5_name").val())||parseInt($("#5_name").val()) < 0)
			     {
				   alert("value of ship id," + $("#5_name").val() + " is invalid ");

				  // Change the value back to the previous valid answer
				 return false;
			     }
                  
                  

			     // Save the valid input
                 if (isNaN($("#6_name").val())||parseInt($("#6_name").val()) < 0 || (parseInt($("#6_name").val())-$("#6_name").val()!=0 ))
			     {
				    alert("value of captain id," + $("#6_name").val() + " is invalid ");
				    // Change the value back to the previous valid answer
				    return false;
			     }
                 if(!$("#3name").val() || !$("#4name").val()){
                     alert("The form is incompleted");
                     return false;
                 }
                 return validatedate($("#7_name").val());
                 
			  };
			   $("#cruise_form").submit((event) => {
				event.preventDefault();
				if (validate1()) {
					$.post("/addcruise", $("#cruise_form").serialize())
					.done(()=>{alert("succeed")})
					.fail(function (jqXHR, textStatus, errorThrown) {
                              		alert("input is wrong") });
				}
			   });
			</script>
                      <div style="text-align:center">
                          <p>   </p>
                          <a href="staff" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back</a>
                      </div>
                    </div>
        </div>
        
    <!-- Default code for Personal website -->
    <!-- End of Code -->
    </body>
</html>

