<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="owwwlab.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        

        <!--CSS styles-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">  
        <link rel="stylesheet" href="css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link id="theme-style" rel="stylesheet" href="css/styles/yellow.css">

        
        <!--/CSS styles-->
        <!--Javascript files-->
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="js/masonry.min.js"></script>

        <script type="text/javascript" src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
        <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

        <script type="text/javascript" src="js/magnific-popup.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <!--/Javascript files-->

    </head>
    <body>
        <div class="container">
                  <div style="text-align:center">
                    <h2 id="contact">Add Cruise Information</h2>
                  </div>
                  <div class="row">
                    <!--div class="column">
                      <img src="img/footer.jpg" style="width:100%">
                    </div-->
                    <div class="row">
                      <form id="cruise_form" enctype=”multipart/form-data” name="BookingForm">
                        <label for="fname">cost</label>
                        <input type="text" id="1_name" name="cost" placeholder="type in cost" onblur="validate1();">
                        <label for="lname">number of stops</label>
                        <input type="text" id="2_name" name="num_stop" placeholder="type in number of stops" onblur="validate2();">
                        <label for="lname">arrival port</label>
                        <input type="text" id="3_name" name="arrival_port" placeholder="type in arrival port">
                        <label for="lname">departure port</label>
                        <input type="text" id="4_name" name="departure_port" placeholder="type in departure port">
                        <label for="lname">ship id</label>
                        <input type="text" id="5_name" name="ship_id" placeholder="type in ship id">
                        <label for="lname">captain id</label>
                        <input type="text" id="6_name" name="captain_id" placeholder="type in captain id">
                        <input type="submit" value="Submit" onClick="/addcruise">
                      </form>
            <script type="text/javascript">
                  function validate1()
                  {
                     var field1 = document.getElementById("1_name");
                     if (field1.value < 0 )
                     {
                           alert("Field1 value of " + field1.value + " is invalid");

                          // Change the value back to the previous valid answer
                         return false;
                     }

                     // Save the valid input
                     return true;
                  };
                  function validate2()
                  {
                     var field1 = document.getElementById("2_name");
                     if (field1.value < 0 || !Number.isInteger(field1.value))
                     {
                           alert("Field1 value of " + field1.value + " is invalid");

                          // Change the value back to the previous valid answer
                         return false;
                     }

                     // Save the valid input
                     return true;
                  };
            </script>
			<script language="javascript" type="text/javascript">
			   $("#cruise_form").submit((event) => {
				event.preventDefault();
				console.log($(this).serialize());
                window.alert("insert "+$("#1_name").val()+","+$("#2_name").val()","+$("#3_name").val()","+$("#4_name").val()","+$("#5_name").val()+","+$("#6_name").val());
				$.post("/addcruise", $(this).serialize());
			   });
			</script>
                      <div style="text-align:center">
                          <p>   </p>
                          <a href="staff" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back</a>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
    </div>
    <!-- Default code for Personal website -->
    <!-- End of Code -->
    </body>
</html>

