<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="owwwlab.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        

        <!--CSS styles-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">  
        <link rel="stylesheet" href="css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link id="theme-style" rel="stylesheet" href="css/styles/yellow.css">

        
        <!--/CSS styles-->
        <!--Javascript files-->
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="js/masonry.min.js"></script>

        <script type="text/javascript" src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
        <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

        <script type="text/javascript" src="js/magnific-popup.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <!--/Javascript files-->
        <script type="text/javascript">
                  function validate1()
                  {
                     var field1 = document.getElementById("fname");
                     var field2 = document.getElementById("lname");
                     if (field1.value < 0 | (parseInt(field1.value)-field1.value!=0 ))
                     {
                           window.alert("value of Cruise id," + field1.value + " is invalid");

                          // Change the value back to the previous valid answer
                         return false;
                     }
                     if (field2.value < 0 | (parseInt(field2.value)-field2.value!=0 ))
                     {
                           window.alert("value of Customer id," + field2.value + " is invalid ");

                          // Change the value back to the previous valid answer
                         return false;
                     }

                     // Save the valid input
                     return true;
                  };
       </script>

    </head>
    <body>
        <div class="container">
                  <div style="text-align:center">
                    <h2 id="contact">Delete Booking</h2>
                  </div>
                  <div class="row">
                    <!--div class="column">
                      <img src="img/footer.jpg" style="width:100%">
                    </div-->
                    <div class="row">
                      <form id="delete_form" enctype="multipart/form-data">
                        <label for="fname">Cruise id</label>
                        <input type="text" id="fname" name="cruise_id" placeholder="type in cruise id" onblur="validate1();">
                        <label for="lname">Customer id</label>
                        <input type="text" id="lname" name="ship_id" placeholder="type in customer id" onblur="validate1();">
                        <input type="submit" value="Submit">
                      </form>
                      <div style="text-align:center">
                          <p>   </p>
                          <a href="CustomerSelection" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back</a>
                      </div>
                      <script type="text/javascript">
2                           $("#delete_form").submit((event)=>{
                             event.preventDefault();
                             $("#table > tbody").empty();
                               $.get("/reservation"+$("#fname").val()+"/"+$("#lname").val()).done((data) => {
                                   data.forEach((item) => {
					                  $cancel.(item["cruise_id"],item['ship_id']);
                                      window.alert("delete "+$("#fname").val()+","+$("#lname").val()]);
				                  });
                               })});
9                      </script>
                    </div>
                  </div>
                </div>
          
    <!-- Default code for Personal website -->
    <!-- End of Code -->
    </body>
</html>

