<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="owwwlab.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        

        <!--CSS styles-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">  
        <link rel="stylesheet" href="css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link id="theme-style" rel="stylesheet" href="css/styles/yellow.css">

        
        <!--/CSS styles-->
        <!--Javascript files-->
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="js/masonry.min.js"></script>

        <script type="text/javascript" src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
        <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

        <script type="text/javascript" src="js/magnific-popup.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <!--/Javascript files-->

    </head>
    <body>
        <div class="container">
                  <div style="text-align:center">
                    <h2 id="contact">List number of passenger by status and cruise</h2>
                  </div>
                  <div class="row">
                    <!--div class="column">
                      <img src="img/footer.jpg" style="width:100%"-->
                    <!--/div-->
                    <div class="row">
                      <form method=”POST” enctype="multipart/form-data" name="BookingForm" onclick="window.location.href='index'">
                        <label for="fname">Cruise id</label>
                        <input type="text" id="fname" name="cruise id" placeholder="type in cruise id">
                        <label for="fname">Status</label>
                        <input type="text" id="fname" name="status" placeholder="type in status">
                        <input type="submit" value="Submit" onClick="randomData()">
                        <div style="text-align:center">
                          <p>   </p>
                          <a href="index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back</a>
                        </div>
                        <table class="table table-condensed" id="table"  data-toggle="table" data-toolbar="#toolbar" data-height="400" data-search="true" >
                        <thead class="thead-light">
                          <tr>
                            <th data-field="status">Status</th>
                            <th data-field="number">Number of passenger</th>
                          </tr>
                        </thead>
                        <script type="text/javascript">
                          var TestString='Have a good time.';
                          var test=[{"count": "2","status": "C"},{"count": "3", "status": "W"}]
                          rows=[]
                          for (var i = 0; i < test.length; i++) {
                               rows.push(test[i])
                               document.write(test[i]['count']);
                               document.write(test[i]['status']);
                          }
　                        document.write('Welcome to Wibibi.<br>'+TestString);
                        </script>
                      </table>
                          
                          
                      <script src="./js/jquery-1.12.4.min.js"></script>
                      <script src="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.js"></script>
                      <script>
                      // This method simulates printing random backend data. The structure of the print is shown above, loading data content prints.
                                              
                       
                      var test=[{"count": "2","status": "C"},{"count": "3", "status": "W"}]
                      function randomData(input) {
                      rows=[]
                      for (var i = 0; i < input.length; i++) {
                          rows.push(input[i])
                      
                      }
                    
                   console.log(rows)
                   return rows;
 
                      }
                          
                      
                          
                $(function() {
                         / / Core content, bootstrapTable comes with a method, the data in randomdata is loaded as in the table, the key value in the data needs to correspond to the data-field written in the header.
                $('#table').bootstrapTable('append',randomData())
                         // The following line of code adds style to the table, centering everything
                  $("td,th").addClass("text-center");
             })
        </script>                      </form>
                      <script type="text/javascript">
                          $(function($) {
                           // 登錄點擊
                          $("#loging").click(function() {
                            //window.location.href = "https://www.xiami.com/collect/358371983";(跳轉至外部鏈接)
                             window.location.href =‘index.html‘;  
                                });
                             });
                      </script>
                    </div>
                  </div>
                </div>
          </div>
    </div>
    <!-- Default code for Personal website -->
    <!-- End of Code -->
    </body>
</html>

